.vscode/**
.vscode-test/**
assets/screenshots
src/
test/
out/test/
**/*.map

.gitignore
.eslintignore
tsconfig.json

node_modules
!node_modules/glob-to-regexp/index.js
!node_modules/glob-to-regexp/package.json
